<h1>Create a new post</h1>
<form action="/posts" method="post">
  <p>Post Name:<input type="text" name="name"></p>
  <p>Post Content:<input type="text" name="content"></p>
  <button type="submit" name="submit">submit</button>
</form>
